<% provide(:title, "Home")%>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title)%> | Attinderance </title>
<<<<<<< HEAD
    <link rel="stylesheet" type="text/css" href="styles.css"/>
  </head>
  <body>
    <div id="topbar">
      <div class="fixedwidth">
      <h1>Attinderance | <%= yield(:title)%></h1>
      <br>
      <div id="site_map_div">
        <ul>
          <li>Teachers</li>
          <li>Help</li>
          <li>About</li>
        </ul>
      </div>
      </div>
    </div>
<br>
<div class="break">
    <p>Welcome to Attinderance, the app for quick and easy attendance. Keep track of your students and members with just one click.</p>
    <h2>Site Map</h2>
    <%= render 'side_bar' %>

<p>Find me in app/views/static_pages/home.html.erb</p>
  <!-- End side bar -->
</div>
=======
  </head>
  <body>
    <h1>Attinderance | <%= yield(:title)%></h1>
    <br>
    <p>Welcome to Attinderance, the app for quick and easy attendance. Keep track of your students and members with just one click.</p>
<!-- Make this a side bar -->
    <br>
    <br>
    <ul>
      <li>Student Index | <%= link_to 'Students', students_path %></li>
      <li>For more information and helpful links | <%= link_to 'Help', static_pages_help_path %></li>
      <li>About this app | <%= link_to 'About', static_pages_about_path %></li>
    </ul>
    <br>
    <h2>Side Bar</h2>
    <%= render '/applications/side_bar' %>

<p>Find me in app/views/static_pages/home.html.erb</p>
  <!-- End side bar -->
>>>>>>> mw-create-teacher
  </body>
</html>
