<%= form_for(@teacher) do |f| %>
  <% if @teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
      <% @teacher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="outer-container">
    <div class="container">
      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
        <% if f.nil? %><%= link_to new_teacher_path %><% end %>
      </div>
    </div>

    <div class ="container">
      <div class="field">
        <%= f.label :email %><br>
        <%= f.text_field :email %>
      </div>
    </div>

    <div class="container">
      <div class="field">
        Password must be at least 6 characters and include at least one number.
        <%= f.label :password %><br>
        <%= f.password_field :password %>
      </div>
    </div>

    <div class="container">
      <div class="field">
        <%= f.label :password_confirmation, "Confirmation" %><br>
        <%= f.password_field :password_confirmation %>
      </div>
    </div>

  </div>

  <div class="outer-container">
    <div class="container">
      <div class="actions">
        <%= f.submit %>
      </div>
    </div>
  </div>
<% end %>
