<% provide(:title, "Teacher Index") %>
<% provide(:intro, "This is where a list of all teachers will be found. ") %>

<p>Teacher</p>
    <ol>
    <% @teachers.each do |teacher| %>
    <li> <%= teacher.name %></li>
    <ul>
        <li><%= link_to 'Edit', edit_teacher_path(teacher) %></li>
        <li><%= link_to 'Courseload', course_loads_path %></li>
        <li><%= link_to 'Delete', teacher, method: :delete, data: {confirm: 'Are you sure?'} %></li>
    </ul>
    <% end %>
  </ol>
<br>
<h2><p>Want to create a new teacher? Click here: <%= link_to 'New', new_teacher_path %></h2>
