<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @create_student.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @create_student.last_name %>
</p>

<%= link_to 'Edit', edit_create_student_path(@create_student) %> |
<%= link_to 'Back', create_students_path %>
