    <ul>
      <li>Home | <%= link_to 'Home', static_pages_home_path  %></li>
      <li>Teacher Index | <%= link_to 'Teachers', teachers_path %></li>
      <li>Teacher Courseload Index | <%= link_to 'Courseloads', course_loads_path %></li>    
      <li>Student Index | <%= link_to 'Students', students_path  %></li>
      <li>Course Index  | <%= link_to 'Courses', courses_path %></li>
      <li>Course Roster | <%= link_to 'Course Rosters', course_rosters_path %></li>
      <li>Session Index | <%= link_to 'Sessions', sessions_path %></li>
      <li>Attendance Index | <%= link_to 'Attendance', attendances_path %></li>
      <li>For more information and helpful links | <%= link_to 'Help', static_pages_help_path  %></li>
      <li>About this app | <%= link_to 'About', static_pages_about_path  %></li>
    </ul>

