<!DOCTYPE html>
<html>
<head>
  <title>Attinderance</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

	<div id="header">Attinderance<%= yield(:title) %>
		<div class="outer_container">
			<div class="container">Create New</div>
			<div class="container">Take Attendance</div>
			<div class="container">Navigate</div>
		</div>
	</div>
	<div class="intro">
		<%= yield(:intro) %>
	</div>
	<div class = "site_map">
		<%= render "site_map" %>
	    <p>Updated by Mlworle on <%= Time.zone.now %></p>
    </div>
    <%= yield %>
</body>
</html>